<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-notouch">
    <head>
        <title></title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "uikit-2.6.0/css/uikit.min.css" %}" />
        <link rel="stylesheet" href="{% static "uikit-2.6.0/css/uikit.gradient.css" %}" />
        <link rel="stylesheet" href="{% static "uikit-2.6.0/css/uikit.gradient.css" %}" />
        <link rel="stylesheet" href="{% static "font-awesome-4.1.0/css/font-awesome.css" %}" />
        <link rel="stylesheet" href="{% static "common.css" %}" />
        <script src="{% static "jquery.js" %}"></script>
        <script src="{% static "carhartl-jquery-cookie-92b7715/jquery.cookie.js" %}"></script>
        <script src="{%  static "uikit-2.6.0/js/uikit.min.js" %}"></script>
        <script src="{%  static "fb.js" %}"></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            function isLogged()
            {
                var user_id = $.cookie('user_id');
                var logged = (user_id == null)? false : true;
                if(!logged)
                {
                    $("#err_alert").css("display", "");
                }
                else
                {
                    $("#err_alert").css("display", "none");
                }
                return logged;
            }
            function fb_status_change_callback(fb_connected, response_data)
            {
                if(fb_connected)
                {
                    $("#fb_login_btn").css("display", "none");
                    $("#fb_logout_btn").css("display" , "");
                    $("#user_btn")[0].className = $("#user_btn")[0].className.replace("uk-icon-user", "");
                    $.cookie('user_id', '' + response_data.authResponse.userID, {path: '/'});
                }
                else
                {
                    $("#fb_login_btn").css("display" , "");
                    $("#fb_logout_btn").css("display" , "none");
                    $("#user_btn")[0].className = $("#user_btn")[0].className + " uk-icon-user";
                    $("#user_btn").css("background-image", "");
                    $.removeCookie('user_id', { path: '/' });
                }
                {% block fb_status_change_callback %}
                {% endblock %}
            }
            function fb_profile_ready_callback(response_data)
            {
                    $("#user_btn").css("background-image", "url(https://graph.facebook.com/" + response_data.id + "/picture?type=square)");
                    $("#user_form")[0].id_name.value = response_data.name;
                    $("#user_form")[0].id_email.value = response_data.email;
                    $("#user_form")[0].id_user_id.value = response_data.id;
                    $.ajax({
                      type: 'POST',
                      url: '/user/add/',
                      data: $("#user_form").serialize(),
                      success: function(data)
                      {
                          console.log(data);
                      },
                      error: function(err)
                      {
                          console.log(err);
                      }
                    });

                    {% block fb_profile_ready_callback %}
                    {% endblock %}
            }
            function fb_login_callback(fb_logged, response_data)
            {
                fb_status_change_callback(fb_logged, response_data);
                {% block fb_login_callback %}
                {% endblock %}
            }
            function fb_logout_callback()
            {
                fb_status_change_callback(false,{});
                {% block fb_logout_callback %}
                {% endblock %}
            }
            {% block javascript %}
            {% endblock %}
        </script>
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-1-10">&nbsp;</div>
                <div class="uk-width-medium-7-10">

                    <div class="uk-text-large uk-margin-bottom">
                        <img style="display:none" class="circular_40px_middle" width="50px" height="50px" src="{% static "img\logo2.png" %}" alt="">
                        <span class="uk-text-bold uk-text-danger uk-text-large">CostcoHunt</span><span class="uk-text-small uk-text-muted"> - 分享Costco販賣的好物</span></div>
                    <ul class="uk-tab uk-tab-grid uk-margin-bottom">
                    {% if current_page == "hottest" %}
                        <li class="uk-active">
                    {% else %}
                        <li class="">
                    {%  endif %}
                            <a id="url_hottest" href="/hottest">Hottest</a>
                        </li>
                    {% if current_page == "about" %}
                        <li class="uk-active">
                    {% else %}
                        <li class="">
                    {%  endif %}
                            <a href="/about/">About</a>
                        </li>
                    </ul>


                    <div id="err_alert" style="display:none" class="uk-alert uk-alert-warning" data-uk-alert>
                        <a href="" class="uk-alert-close uk-close"></a>
                        <div calss="uk-text-large">請先用您的Facebook登入喔 :)</div>
                    </div>
                      {% block leave_message %}
                      {% endblock %}
                    <div class="uk-panel">
                      {% block hot_list %}
                      {% endblock %}
                    </div>
                    <div class="uk-panel">
                      {% block comment_list %}
                      {% endblock %}
                    </div>
                    <div class="uk-panel">
                      {% block leave_comment %}
                      {% endblock %}
                    </div>
                </div>
                <div class="uk-width-medium-1-10">
                    <div class="uk-grid">
                        <div class="uk-button-dropdown uk-align-right" data-uk-dropdown>
                            <button id="user_btn" class="uk-animation-scale-up uk-icon-button-40"></button>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav uk-nav-dropdown">
                                    <li><a id="fb_login_btn" href="javascript:loginToFB()">登入</a></li>
                                    <li><a id="fb_logout_btn" href="javascript:logoutFB()" style="display:none">登出</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% block right_content %}
                {% endblock %}
                </div>
            </div>

        </div>

    <form id="user_form" style="display:none" action="/user/add/" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
    </form>

    {% block form %}
    {% endblock %}

    </body>
</html>